<h1>
  <% if params[:type].present? %>
    <%= t '.list_items_by_type', type: Item::TYPES_HASH[params[:type]] %>
  <% else %>
    <%= t '.list_all_items' %>
  <% end %>
</h1>
<% unless @items.size == 0 %>
  <div class="item_list">
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
      <span class="title">Title</span>
      <span class="item_type core"><%= item.get_type_name %></span>
    <% end -%>
  <% end -%>
  </div>
<% else -%>
  <div class="nothing"><%= t('.nothing_here') %></div>
<% end -%>
