<h2><%= t '.title' %><h2>

<%= form_for @item do |f| %>
  <div class="section">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="section">
    <%= f.label :type %>
    <%= f.select :type, options_for_select(Item::TYPES.invert) %>
  </div>
  
  <div class="section">
    <span class="empty"></span>
    <%= f.submit %>
  </div>
<% end -%>
