<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= google_webfonts_init({
    google: ['Noto Sans', 'Lato', 'Material Icons']
  }) %>
</head>
<body>

<div class="mass-container header">
  <h1>
    Inventory of AV-Olari
    <%= render 'trivia' %>
  </h1>
  <%= form_tag search_path, :class => 'search' do %>
    <%= text_field_tag :query, "", :placeholder => "Search anything" %>
    <%= submit_tag 'search', :class => 'mat-icns' %>
  <% end %>
</div>

<div class="mass-container content">
  <%= yield %>
</div>

<div class="footer">
  © Roope Salmi 2015
  - <%= link_to 'Source Code', 'https://github.com/ollpu/inventory/' %>
</div>

</body>
</html>
