<%
  page_title = t('.title')
  # @title can be modified from controller or view (@title=)
  if @title.present?
    page_title << " - #{@title}"
  end
%>

<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= google_webfonts_init({
    google: ['Noto Sans', 'Lato', 'Material Icons']
  }) %>
</head>
<body class="<%= "clear" if @clear_template %>">

<% unless @clear_template %>
  <div class="mass-container header">
    <h1>
      <%= t '.inventory_of', peer: t('.peer') %>
      <%= render 'trivia' %>
    </h1>
    <%= render 'layouts/nav' %>
  </div>
<% end %>

<div class="mass-container content">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "flash #{name}" %>
  <% end -%>
  <%= yield %>
</div>

<div class="footer">
  © Roope Salmi 2015
  - <%= link_to t('.source_code'), 'https://github.com/ollpu/inventory/' %>
</div>

</body>
</html>
