<!DOCTYPE html>
<html>
<head>
  <title><%= t '.title' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= google_webfonts_init({
    google: ['Noto Sans', 'Lato', 'Material Icons']
  }) %>
</head>
<body>

<div class="mass-container header">
  <h1>
    <%= t '.inventory_of', peer: t('.peer') %>
    <%= render 'trivia' %>
  </h1>
  <table class="nav">
    <td class="home"><%= link_to 'home', root_url, :class => 'mat-icns' %></td>
    <td class="mat-icns menu-btn"><a href="javascript:void(0);">menu</a></td>
    
    <td class="items">
      <% _scope = [:activerecord, :models] %>
      
      <%= link_to t(:item_all, scope: _scope), 'javascript:void(0);' %>
      <ul>
        <li><%= link_to t('.all'), items_path %></li>
        <li><%= link_to t(:cable_all, scope: _scope), items_path(:type => "Cable") %></li>
        <li><%= link_to t(:device_all, scope: _scope), items_path(:type => "Device") %></li>
        <li><%= link_to t(:misc_all, scope: _scope), items_path(:type => "Misc") %></li>
      </ul>
      <%= link_to t(:event_all, scope: _scope), events_path %>
      <%= link_to t(:user, scope: _scope), users_path %>
    </td>
    
    <td class="search">
      <%= form_tag search_path, :class => 'search' do %>
        <%= text_field_tag :query, "", :placeholder => t('.search_anything') %>
        <%= submit_tag 'search', :class => 'mat-icns' %>
      <% end %>
    </td>
    
  </table>
</div>

<div class="mass-container content">
  <%= yield %>
</div>

<div class="footer">
  © Roope Salmi 2015
  - <%= link_to t('.source_code'), 'https://github.com/ollpu/inventory/' %>
</div>

</body>
</html>
